<app-card-group 
    [header]="'Exemplo 1'"
    [text]="textoExemplo1" [class1]="'col-xs-12 col-md-6'" [class2]="'col-xs-12 col-md-12'"
    [img1]="'assets/images/output-property/outputproperty1.png'" [textImg1]="'HTML pai'"
    [img2]="'assets/images/output-property/outputproperty2.png'" [textImg2]="'Typescript filho'" 
    [img3]="'assets/images/output-property/outputproperty3.png'" [textImg3]="'HTML filho'">
    <br>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <button class="btn btn-primary" (click)="decrementa()">-</button>
            <input readonly type="text" [value]="valor">
            <button class="btn btn-primary" (click)="incrementa()">+</button>
        </div>
    </div>
</app-card-group>

<app-card-group 
    [header]="'Exemplo 2'"
    [text]="textoExemplo2" [class1]="'col-xs-12 col-md-6'" [class2]="'col-xs-12 col-md-6'"
    [img1]="'assets/images/output-property/outputproperty4.png'" [textImg1]="'Typescript filho'"
    [img2]="'assets/images/output-property/outputproperty5.png'" [textImg2]="'Typescript filho'" 
    [img3]="'assets/images/output-property/outputproperty6.png'" [textImg3]="'Typescript pai'"
    [img4]="'assets/images/output-property/outputproperty7.png'" [textImg4]="'HTML pai'"
    >
    <br>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <button class="btn btn-primary" (click)="decrementaOutput()">-</button>
            <input readonly type="text" [value]="valorOutput">
            <button class="btn btn-primary" (click)="incrementaOutput()">+</button>
        </div>
    </div>
</app-card-group>