<app-card-title 
  [title]="'Interpolação e Property binding'" 
  [header]="'DataBindingComponent'"
  [text]="textoInterpolacao">
</app-card-title>

<app-card-group
  [header]="'Exemplo 1'" [class1]="'col-xs-12 col-md-6'" 
  [img1]="'assets/images/interpolacao/interpolacao1.png'" [textImg1]="'Typescript'"
  [img2]="'assets/images/interpolacao/interpolacao2.png'" [textImg2]="'HTML'">

  

  <article>
    <ul>
      <li>String renderizada com interpolação: <a href="{{ url }}">{{ url }}.</a></li>
      <li>O resultado de 1 + 1 é: {{ 1 + 1 }}.</li>
      <li>O resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}.</li>
      <li>Curso de Angular e curso legal: {{ cursoAngular && getCurtirCurso() }}.</li>
    </ul>
  </article>


  <div class="row">
    <img class="p-1" src="{{ urlImagem }}" alt="Imagem aleatória da internet">
    <img class="p-1" [src]="urlImagem" alt="Imagem aleatória da internet">
  </div>

</app-card-group>