
<section>
    <article>
        <h3>#Input property</h3>
        <hr> 
        <div class="card">
            <div class="card-header">
                Component: InputPropertyComponent e InputPropertyFilhoComponent
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">O conceito é muito simples, você usará isso quando quiser receber dados de um component pai. Neste exemplo, o InputPropertyComponent será o arquivo pai e o InputPropertyFilhoComponent será o filho.</li>
            </ul>
        </div>
        <br>
        <br>
    </article>
</section>

<app-input-property-filho 
    [nomeVariavelFilho1]="nomeVariavelPai"
    [nome]="nomeVariavelPai">
</app-input-property-filho>

