<app-card-title 
    [title]="'Event binding'" 
    [header]="'EventBindingComponent'"
    [text]="textoOutputProperty">
</app-card-title>

<app-card-group 
    [exemplo]="1"
    [text]="textoEx1" [class1]="'col-xs-12 col-md-6'"
    [img1]="'/assets/images/event-binding/eventbinding1.png'" [textImg1]="'No HTML'"
    [img2]="'assets/images/event-binding/eventbinding2.png'" [textImg2]="'No Typescript'">
    <br>
    <div class="row">
        <div class="col-md-6 col-xs-12 form-group">
            <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>
        </div>
    </div>
</app-card-group>

<app-card-group 
    [exemplo]="2" [text]="textoEx2">
    <br>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <label>Event com keyup</label>
            <input type="text" class="form-control" type="text" (keyup)="onKeyUp($event)">
        </div>
        <div class="col-md-6 col-xs-6 form-group">
            <label>Texto capturado do input</label>
            <div class="form-control"> {{ textoDigitado }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <label>Event com keyup ao apertar enter</label>
            <input type="text" class="form-control" type="text" (keyup.enter)="salvarKeyUpEnter($event)">
        </div>
        <div class="col-md-6 col-xs-6 form-group">
            <label>Texto capturado do input</label>
            <div class="form-control"> {{ keyupEnter }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <label>Event com blur (quando o campo perde o foco)</label>
            <input type="text" class="form-control" type="text" (blur)="salvarBlur($event)">
        </div>
        <div class="col-md-6 col-xs-6 form-group">
            <label>Texto capturado do input</label>
            <div class="form-control"> {{ blur }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <label>Event com keyup usando variável no html</label>
            <input type="text" class="form-control" type="text" (keyup)="evento.value" #evento>
        </div>
        <div class="col-md-6 col-xs-6 form-group">
            <label>Texto capturado do input</label>
            <div class="form-control"> {{ evento.value }}</div>
        </div>
    </div>
</app-card-group>