<app-card-group
    [text]="textoExemplo" 
    [class1]="'col-xs-12 col-md-6'" [class2]="'col-xs-12 col-md-6'"
    [img1]="'assets/images/inputpropert5.png'" [textImg1]="'Typescript pai'"
    [img2]="'assets/images/inputpropert4.png'" [textImg2]="'HTML pai'"
    [img3]="'assets/images/inputpropert3.png'" [textImg3]="'Typescript Filho'"
    [img4]="'assets/images/inputpropert1.png'" [textImg4]="'HTML filho'">

    <div class="row">
        <div class="col-md-12 col-xs-12 form-group">
            {{ nomeVariavelFilho2 }}
        </div>
    </div>
</app-card-group>

