<app-card-title 
    [title]="'ViewChild'" 
    [header]="'DecoratorViewchildComponent'"
    [text]="textoViewchild">
</app-card-title>

<app-card-group
    [exemplo]="1" [text]="textoExemplo1" 
    [class1]="'col-xs-12 col-md-6'" [class2]="'col-xs-12 col-md-6'"
    [img1]="'assets/images/viewchild/viewchild1.png'" [textImg1]="'Variável #campoInput criada no HTML'"
    [img2]="'assets/images/viewchild/viewchild2.png'" [textImg2]="'Variável campoInput criada no typescript'">

    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <button class="btn btn-primary" (click)="decrementa()">-</button>
            <input readonly type="text" [value]="valorEx1" #campoInput>
            <button class="btn btn-primary" (click)="incrementa()">+</button>
        </div>
    </div>
</app-card-group>

<app-card-group
    [exemplo]="2" [text]="textoExemplo2" 
    [class1]="'col-xs-12 col-md-6'" [class2]="'col-xs-12 col-md-6'"
    [img1]="'assets/images/viewchild/viewchild3.png'" [textImg1]="'Variável #campoInput criada no HTML'"
    [img2]="'assets/images/viewchild/viewchild4.png'" [textImg2]="'Variável campoInput criada no typescript'"
    [img3]="'assets/images/viewchild/viewchild5.png'" [textImg3]="'Método para exibir o valor no console'"
    [img4]="'assets/images/viewchild/viewchild6.png'" [textImg4]="'Método para exibir o valor no console'">

    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <button class="btn btn-primary" (click)="_decrementa()">-</button>
            <input readonly type="text" [value]="valorEx2" #campoInput2>
            <button class="btn btn-primary" (click)="_incrementa()">+</button>
        </div>
    </div>
</app-card-group>

