<app-card-title 
    [title]="'Class e Style binding'" 
    [header]="'ClassStyleBindingComponent'"
    [text]="textoStyleBinding">
</app-card-title>

<app-card-group 
    [header]="'Exemplo 1'"[text]="textoEx1" [class1]="'col-xs-12 col-md-6'"
    [img1]="'assets/images/style-binding/stylebinding5.png'" [textImg1]="'Variável #classe criada no HTML'"
    [img2]="'assets/images/style-binding/stylebinding6.png'" [textImg2]="'Obtendo o valor da variável e fazendo a interpolação na classe'">
    <div class="row">
        <div class="col-md-6 col-xs-12 form-group">
            <label>selecione uma classe: </label>
            <select #classe class="form-control" (change)="0">
                <option value="alert-primary">primary!</option>
                <option value="alert-secondary">secondary!</option>
                <option value="alert-success">success!</option>
                <option value="alert-danger">danger!</option>
                <option value="alert-warning">warning!</option>
                <option value="alert-info">info!</option>
                <option value="alert-light">light!</option>
                <option value="alert-dark">dark!</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="alert {{ classe.value }}" role="alert">Texto preenchido com a class: {{ classe.value }}</div>
        </div>
    </div>
</app-card-group>

<app-card-group 
    [header]="'Exemplo 2'"[text]="textoEx2"[class1]="'col-md-12 col-xs-12'"
    [img1]="'assets/images/style-binding/stylebinding1.png'" [textImg1]="'[class.classCss]=`condição` no HTML'">
    <div class="row">
        <div class="col-md-6 col-xs-12 form-group">
            <label>selecione uma classe: </label>
            <select #classe2 class="form-control" (change)="0">
                <option value="alert-primary">primary!</option>
                <option value="alert-secondary">secondary!</option>
                <option value="alert-success">success!</option>
                <option value="alert-danger">danger!</option>
                <option value="alert-warning">warning!</option>
                <option value="alert-info">info!</option>
                <option value="alert-light">light!</option>
                <option value="alert-dark">dark!</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="alert" role="alert" [class.alert-primary]="classe2.value == 'alert-primary'">Classe primary!</div>
            <div class="alert" role="alert" [class.alert-secondary]="classe2.value == 'alert-secondary'">Classe secondary!</div>
            <div class="alert" role="alert" [class.alert-success]="classe2.value == 'alert-success'">Classe success!</div>
            <div class="alert" role="alert" [class.alert-danger]="classe2.value == 'alert-danger'">Classe danger!</div>
            <div class="alert" role="alert" [class.alert-warning]="classe2.value == 'alert-warning'">Classe warning!</div>
            <div class="alert" role="alert" [class.alert-info]="classe2.value == 'alert-info'">Classe info!</div>
            <div class="alert" role="alert" [class.alert-light]="classe2.value == 'alert-light'">Classe light!</div>
            <div class="alert" role="alert" [class.alert-dark]="classe2.value == 'alert-dark'">Classe dark!</div>
        </div>
    </div>
</app-card-group>

<app-card-group 
    [header]="'Exemplo 3'"[text]="textoEx3" 
    [class1]="'col-xs-12 col-md-6'" [class2]="'col-xs-12 col-md-12'"
    [img1]="'assets/images/style-binding/stylebinding2.png'" [textImg1]="'No HTML'"
    [img2]="'assets/images/style-binding/stylebinding4.png'" [textImg2]="'Método no Typescript'"
    [img3]="'assets/images/style-binding/stylebinding3.png'" [textImg3]="'Classe criada no Typescript'">
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="mouseOver">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam quidem, dolorum ipsa impedit soluta iste quibusdam ipsam! Maiores nobis consequatur molestias molestiae animi! Numquam aperiam odio in delectus necessitatibus!
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6 form-group">
            <div class="small">
                Passe o mouse no texto acima.
            </div>
        </div>
    </div>
</app-card-group>